.game {
	user-select: none;
}

/* CARDS */

$animations-on: false;
$animation-duration: 0.2s;
$animation-timing: ease-out;

.game-card {
	display         : flex;
	flex-direction  : column;
	justify-content : center;
	align-items     : center;
	font-size       : 120%;
	line-height     : 120%;
	text-align      : center;
	background-color: white;
	height          : 10vh;
	min-width       : 4vw;
	width           : calc(100% - 1vw);
	vertical-align  : middle;
	margin          : 0 0.5vw;
	border          : 1px solid #ccc;
	border-radius   : 10px;
}

.game-card.inactive {
	background-color: #eee;
	color           : #666;
}

.game-card.red {
	color: #dc3545;
}

.game-card.inactive.red {
	color: darken(#dc3545, 10%);
}

.game-card.green {
	color: green;
}

.game-card.inactive.green {
	color: darken(green, 10%);
}

.game-card.playable {
	border-width: 0.5vh;
	border-color: darkblue;
}

.backside {
	background: green;
	color     : white;
}

.backside.inactive {
	background: lightgreen;
}

@keyframes draw-throw {
	from {
		// TODO
	}
}

.animate-drawthrow {
	@if $animations-on {
		animation:  draw-throw $animation-duration $animation-timing;
	}
}


/* HAND */

.smooth-dnd-container.horizontal {
	display: flex !important;
	width  : 100%;
	height : 100%;
}

.smooth-dnd-draggable-wrapper {
	width: 20%;
}

.draggable-container {
	height    : 12vh;
	background: azure;
}

#selected-container.active>.smooth-dnd-container:empty::after {
	display        : flex;
	justify-content: center;
	align-items    : center;
	content        : "Tap cards to select";
	color          : #666;
	width          : 100%;
	height         : 100%;
}


/* TABLE */

.table-container {
	position  : relative;
	width     : 100%;
	height    : 22vh;
	padding   : 1vh;
	display   : flex;
	background: url('assets/simple-wood-texture.jpg');
}

.pile-container {
	width: 70%;
}

.top-container {
	display        : flex;
	justify-content: center;
	position       : relative;
	z-index        : 2;
}

@keyframes throw-top {
	from {
		margin-top: 2vh;
	}
}

.top-container.animate-throw {
	@if $animations-on {
		animation: throw-top $animation-duration $animation-timing;
	}
}

.drawable-container {
	display        : flex;
	justify-content: center;
	position       : relative;
	margin-top     : -3vh;
	z-index        : 1;
}

@keyframes throw-drawable {
	from {
		margin-top: -10vh;
	}
}

.drawable-container.animate-throw {
	@if $animations-on {
		animation: throw-drawable $animation-duration $animation-timing;
	}
}


.pile-bottom {
	z-index: 0;
	margin : -7vh auto 0;
}

@keyframes throw-bottom {
	from {
		margin-top: -7vh;
	}
}

.pile-bottom.animate-throw {
	@if $animations-on {
		animation: throw-bottom $animation-duration $animation-timing;
	}
}

// card size = 1/5 * full width - 1vw == 20% - 1vw
// in 70% wide pile container: 100% * 2/7 - 1vw

.pile-card {
	position : relative;
	max-width: calc(100% * (2/7) - 1vw);
	overflow : hidden;
}

// in 30% wide container: 100% * 2/3 - 1vw

.deck-card {
	width: calc(100% * (2/3) - 1vw);
}

.deck {
	margin: 0 auto;
}

.deck-container {
	width          : 30%;
	display        : flex;
	flex-direction : column;
	justify-content: center;
}